/*! http://responsiveslides.com v1.55 by @viljamis */

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index:0;
    }
    
  
    
    .rslides h2 {
    bottom: 37%;
    color: #fff;
    font-family: "TrajanPro-Regular";
    font-size: 90px;
    font-weight: 500;
    left: 0;
    letter-spacing: 4px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    text-align: center;
  }
    .rslides h1 {
    bottom: 21%;
    color: #10d0ba;
    font-family: "TrajanPro-Regular";
    font-size: 110px;
    left: 105px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    text-align: center;
  }
    .rslides h5 {
    bottom: 24%;
    color: #fff;
    font-family: "TrajanPro-Regular";
    font-size: 16px;
    left: 189px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    text-align: center;
  }
  
  .rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
    }
  
  .rslides li:first-child {
    position: relative;
    display: block;
    float: left;
    }
  
  .rslides img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0;
    }
    
    
    
    
    .search {
    display: inline-block;
    padding-left: 18px;
    padding-right: 18px;
    cursor: pointer;
    color:#9d9c9c;
  }
  .search .fa-times {
    display: none;
  }
  .search.searching input {
    width: 700px;
    opacity: 1;
   
    
  }
  .search.searching .fa-search {
    display: none;
  }
  .search.searching .fa-times {
    display: block;
  }
  .search input {
    display: none;
    position: absolute;
    top: 42px;
    width: 0px;
    color:#9d9c9c;
    right: 0px;
    display: block;
    background:#000;
    -webkit-appearance: none;
    
    height: 60px;
    border:none;
    opacity: 0;
   
    line-height: 30px;
   
    font-size: 14px;
    transition: all 200ms linear;
    margin: 0;
    padding-left: 10px;
  }
  .search input:focus {
    outline: none;
    border-color: black;
  }
  ul.rslides_tabs {
    bottom: 90px;
    position: absolute;
    text-align: right;
    right: 0; 
    padding: 0;
    z-index: 0;
    width: 1200px;
    left: 0;
    margin: 0 auto;
  }
  /*ul.rslides_tabs:before{
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    background: #fff;
    opacity: .5;
    right: 15px;
    top: -30px;
  }*/
  ul.rslides_tabs li {
     display: inline-block;
        
  }
  ul.rslides_tabs li.rslides_here a{
    background: transparent;
    border: solid 2px #39c0db; 
  }
  ul.rslides_tabs li a {
      background: transparent;
      border-radius: 50%;
      padding: 6px;
      font-size: 0;
      margin-right: 8px;
    width: 14px;  
      border: solid 2px #b5b2ae;
  }
  
  <!--Logo Slider-->
  
  
  
    